{
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {}
    },
    "rules": {
        "semi": ["error", "always"],
        "quotes": ["error", "double"],
        "no-dupe-args": ["error"],
        "no-irregular-whitespace": "warn",
        "handle-callback-err": "error",
        "camelcase": ["error"],
        "prefer-const":["error"],
        "prefer-arrow-callback": ["error", { "allowUnboundThis": true }],
        "object-shorthand": ["error", "always"],
        "no-duplicate-imports": ["error"],
        "arrow-spacing": ["error"],
        "space-before-blocks": ["error"],
        "no-whitespace-before-property": ["error"],
        "no-trailing-spaces": ["error"]
    }
}